@page

@functions
{
    public IActionResult OnGet()
    {
        Layout = "_Layout";
        return View();
    }
}

<div><a asp-route-area="Orchard.Users" asp-controller="Account" asp-action="Login">@T["Log in"]</a></div>

This is a THEMED RazorPage coming from Orchard.Demo! It's @DateTime.Now on the server
