@page

@{ 
    Layout = "_Layout";
}

<li><a asp-route-area="Orchard.Users" asp-controller="Account" asp-action="Login">@T["Log in"]</a></li>

This is a THEMED RazorPage coming from Orchard.Demo! It's @DateTime.Now on the server
